.shopping-cart-product {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.4px solid rgb(51 51 51 / 9%);
    width: 100%;
    padding: 10px;
}

.shopping-cart-product .shopping-cart-product-img {
    width: 100px;
    height: 115px;
}

.shopping-cart-product .shopping-cart-product-img img {
    width: 100%;
    height: 100%;
}

.shopping-cart-product-detail {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.shopping-cart-product-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: 14px;
    padding-top: 5px;
}

.shopping-cart-product-info a,
.shopping-cart-product-info span {
    margin-bottom: 10px;
    color: #666666;
    font-size: 12px;
}

.shopping-cart-product-brand {
    font-size: 14px;
    font-weight: 700 !important;
    color: #333 !important;
}
.shopping-cart-product-quantity {
    height: 26px;
    width: 90px;
    border: 1px solid #d3d3d340;
    border-radius: 8px;
    display: flex;
    align-items: baseline;
    text-align: center;
    font-size: 15px;
}
.shopping-cart-product-quantity .quantity {
    width: 40%;
    height: 100%;
}

.shopping-cart-product-quantity .quantity-btn {
    width: 30%;
    height: 100%;
    color: #000 !important;
}

.shopping-cart-product-price--actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.shopping-cart-product-price {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.cart-discounted-product-price {
    margin-bottom: 5px;
    color: #999;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-decoration: line-through !important;
}

.shopping-cart-product-price--actions .shopping-cart-product-actions {
    cursor: pointer;
}

.shopping-cart-product-actions.save-action {
    font-size: 12px;
    color: #828282 !important;
}

.shopping-cart-product-actions.remove-action {
    font-size: 23px !important;
    color: #333 !important;
}
.shopping-cart-product-out-of-stock {
    font-size: 13px;
    color: rgb(220, 53, 69);
    padding: 0 4px;
    border-radius: 5px;
    background-color: rgba(248, 215, 218, 0.9490196078);
    border-color: #f5c2c7;
}
.shooping-cart-details-button {
    border-radius: 0 0 0.375rem 0.375rem !important;
    padding: 0.5rem !important;
    width: 100% !important;
    margin-top: 15px;
}
