.home-medium-banners {
    margin: 1.5rem;
}
.home-medium-banners .placeholder-wave .placeholder {
    min-height: 125px;
    width: 100%;
}
.home-large-banners .placeholder-wave .placeholder {
    min-height: 400px;
    width: 100%;
}
