.page-spinner {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 9999999999999999999999999999999999999999999999999999999;
    font-size: 14px;
    color: $bg-green;
}
