/*    mobile filter and sort bottons   **/

@media screen and (display-mode: standalone) {
    .mobile-offcanvas-filter-footer {
        padding: 20px 10px !important;
    }
    .shop-page-mobile-section {
        padding-top: 96px !important;
    }
}
.shop-page-mobile-section {
    padding-top: 83px;
}
.mobile-shop-page-header {
    border: 1px solid #dee2e6;
    border-top: none !important;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 45px;
    background-color: $bg-primary;
    display: flex;
    flex-wrap: wrap;
    z-index: 999;
}
.mobile-shop-page-header .sort-filter-btns {
    background-color: transparent !important;
    width: 100% !important;
    border: none !important;
    color: rgb(26, 26, 26);
    padding: 8px;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}
.mobile-shop-page-header .sort-filter-btns i {
    font-size: 12px;
    margin-right: 2px;
}
@import "@/views/pages/ShopPage/ui/mobile/sass/header-categories.scss";
@import "@/views/pages/ShopPage/ui/mobile/sass/sort-products.scss";
@import "@/views/pages/ShopPage/ui/mobile/sass/filter-products.scss";
