@import "./global.scss";

@import "@/layouts/mobile/sass/footer.scss";
@import "@/layouts/mobile/sass/header.scss";
@import "@/layouts/mobile/sass/search-box.scss";

@import "@/layouts/desktop/sass/footer.scss";
@import "@/layouts/desktop/sass/navbar.scss";

/******************  components   ********************/
@import "@/components/LoadingSpinner/loading-spinner.scss";

@import "@/components/ConfirmModel/confirm-modal.scss";

@import "@/components/Slider/base-slider.scss";

@import "@/components/Toast/toast.scss";

@import "@/components/FormInput/form-input.scss";

@import "@/components/ProductCard/product-card.scss";

@import "@/components/BaseModal/base-modal.scss";

@import "@/components/BaseForm/base-form.scss";

@import "@/components/FormSelect/base-select.scss";

@import "@/components/MobilePagination/mobile-pagination.scss";

@import "@/components/RightOffcanvas/right-offcanvas.scss";

@import "@/components/BottomSheet/bottom-sheet.scss";

@import "@/components/Breadcrumb/breadcrumb.scss";

/******************  pages   ********************/
@import "@/pages/HomePage/sass/home-page.scss";

@import "@/pages/ShoppingCartPage/sass/shopping-cart-page.scss";

@import "@/pages/ShopPage/sass/shop-page.scss";

// @import "@/views/Auth/sass/auth-page.scss";

// @import "@/pages/ShopPage/sass/shop-page.scss";

// @import "@/pages/HomePage/sass/home-page.scss";

// @import "@/pages/ShoppingCartPage/sass/shopping-cart-page.scss";

// @import "@/pages/WishlistPage/sass/wishlist-page.scss";

// @import "@/pages/CheckoutPage/sass/checkout-page.scss";

// @import "@/pages/CategoriesPage/sass/categories-page.scss";

// @import "@/pages/MyAccountPage/sass/my-account-page.scss";

@import "@/pages/ProductDetailPage/sass/product-detail-page.scss";
